/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	color:black;
    background-color: rgb(29, 141, 141);
    
	background: url(../img/Jeff.png);
    background-size:cover;
}

header{
padding-bottom: 10px;    
}

section#first{
margin-bottom: 500px;    
border: solid 10px;        
}


section#second{
border: solid 10px;      
}


footer{padding-top: 50px}





/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
    
    
    #container{
    width:725px;
    margin:auto ;    
    }
        
}	
	

p{
float: left;

}

/* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {

    
    #container{
    width:1000px;
    }
    
    section#first{
    float:left;
    width:400px;
    } 	
    
    section#second{
    float:right;
    width:350px;    
    } 
	
    footer{
        clear:both;
    }
	
	
} /* closes 1024px+ */



