 
@font-face { 
    font-family: Techno;
    src: url('font.ttf');

} 

@font-face { 
    font-family: Techno2;
    src: url('2ndfont.ttf');

} 
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

#container{
background:#715AFF;     
width:800px;       
border:1px solid black;     
margin:auto;             
}         
     

header{    
   font-family: 'Techno';
    color:#E6AACE;
     margin:10px ;
     padding:20px;
}


body {
    background:#102E4A;  
font-family:CenturyGothic;
}


p{
   
    font-family:'Techno2'; 
    font-size:30px;
    color: black;        
    Background:lavender; 
    border:5px dashed #A682FF;
    border-radius:4px;    
    padding:20px;
	padding-top:15px;
    margin:10px ;
    
    } 
    

footer{
    font-size:20px; 
     font-family:'Techno2'; 
      color:#44CFCB;
     margin:10px ;
     padding:20px;
}    