/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:150%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}


h1{
padding-top: 15px;    
padding-left: 25px; 
align-content:center;
}


img{
display: block;
    width:25%;
    margin:auto ;
    padding-top:30px;  
    padding-bottom: 30px;
}


body {
padding-left: 30px;	
}


#container {
	
}




