/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:px;
	padding:px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}
body {
height:1600px;     
border-top:100px;     
background: rgb(135,81,198);
background: radial-gradient(circle, rgba(135,81,198,1) 1%, rgba(0,0,0,1) 100%); 
margin-top:50px; 		
margin-bottom:50px; 
}
#container {

width:800px;  
margin: auto;    
position:relative ; 
height:100%;    
}

#cricle4 {
width:5px;
height:5px;    
}

#pacman {
    margin-left: 50px;
    bottom:1900px; 
      width: 0px;
      height: 0px;
      border-right: 60px solid transparent;
      border-top: 60px solid yellow;
      border-left: 60px solid yellow;
      border-bottom: 60px solid yellow;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    position: absolute;
    /*transition: background 10s, height 5s;*/    
transition:all 5s
    }

#pacman:hover{
margin-left:500px     
}


div#something {
background:red;
width:100px;
height:100px;
border-radius:50%; 
position: absolute;
bottom: 1000px;
right:20px;    
/*transition: background 10s, height 5s;*/    
transition:all 3s;
    
}
div#something:hover{
background: blue;
height: 300px;
width:300px;
bottom:1250px; 
right:550px;    }


div#heart {
    top:70px; 
    margin-left:350px; 
      position: relative;
      width: 100px;
      height: 90px;
    /*transition: background 10s, height 5s;*/    
transition:all 3s;
    }
div#heart:before,
div#heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: blue;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
     /*transition: background 10s, height 5s;*/    
transition:all 3s;
    }
div#heart:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
     /*transition: background 10s, height 5s;*/    
transition:all 3s;
    }
div#heart:hover{
rotate:10deg;    
}



div#triangle-up {
margin-left:700px;
margin-top: 550px;    
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 100px solid #555;
rotate: 0deg;    
}      
#star-five {
      margin: 50px 0;
      position: relative;
      display: block;
      color: white;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid white;
      border-left: 100px solid transparent;
      transform: rotate(35deg);
    }
#star-five:before {
      border-bottom: 80px solid white;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -45px;
      left: -65px;
      display: block;
      content: '';
      transform: rotate(-35deg);
    }
#star-five:after {
      position: absolute;
      display: block;
      color: white;
      top: 3px;
      left: -105px;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid white;
      border-left: 100px solid transparent;
      transform: rotate(-70deg);
      content: '';
}
#triangle-up:hover{   
rotate:40deg;    
    
}
#star-five:hover{
    rotate:40deg;  
}


#circle {
    
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
/*transition: background 10s, height 5s;*/    
transition:all 2.5s;}
#circle:hover {
background:pink ;    
margin-left: 200px;        
}


div#square2{
bottom:700px;     
margin-left:50px;    
width: 200px;
height: 200px;
background:#e49d20;
position: absolute;
/*transition: background 10s, height 5s;*/    
transition:all 3s;}  

div#square2:hover{
margin-left:500px     
    
}

div#rectangle5{
bottom:200px; 
margin-left:500px;     
height:400px;
width:100px;
background:#4cf7f6; 
position:absolute; 
/*transition: background 10s, height 5s;*/    
transition:all 2.5s;    
}
div#rectangle5:hover {
bottom:45px;     }

div#rectangle4 {
bottom: 340px;     
margin-left:200px;    
height:100px;    
width:300px;  
background:#8319d0; 
    position:absolute;
/*transition: background 10s, height 5s;*/    
transition:all 2.5s;
}
div#rectangle4:before{
top:100px;     
bottom: 100px;    
margin-left:100px; 
content: '';    
display:block;     
width: 100px;
height: 100px;
background:#8319d0;
position:absolute;}
div#rectangle4:hover {
bottom:145px;     }

#rectangle3{ 
bottom:143px;     
margin-left:600px;    
width: 100px;
height: 300px;      
background:#61e704;
position:absolute;  
 /*transition: background 10s, height 5s;*/        
    transition:all 2.5s;}
div#rectangle3:before{
top:100px;     
bottom: 300px;    
margin-left:80px; 
 content: '';    
display:block;    
width: 100px;
height: 100px;
background: #61e704;
position:absolute;}
#rectangle3:hover{
bottom:45px;      
    
}

div#rectangle2 {
left:100px; 
  bottom:45px; 
  width: 200px;
  height: 100px;
  background: yellow;
 position:absolute;
    /*transition: background 10s, height 5s;*/    
transition:all 2.5s;
}
div#rectangle2:hover{
bottom: 150px;    
    
}

div#rectangle {
    margin-top:800px; 
  width: 200px;
  height: 100px;
  background: #ff0000;
    position: ;
/*transition: background 10s, height 5s;*/    
transition:all 2.5s;
}
div#rectangle:hover {
margin-top:895px;    }
div#square {

width: 100px;
height: 100px;
background: #ff0000;
position: absolute;
/*transition: background 10s, height 5s;*/    
transition:all 1s;}



footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
height: 50px;    
background-color:#171616;
}
 