/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

marquee{
font-size:2.5em;  
line-height:50px; 
    
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

@font-face {
    font-family: 'bold'; /*a name to be used later*/
    src: url('bold.ttf'); /*URL to font*/
}



body {
background: #a5c8d4; 	
color:#00506b; 
}
	   
main{
margin:auto ;
margin-top: 20px;
margin-bottom: 20px;

max-width: 800px;
width:90%;    
padding:20px;	
line-height:50px;
}      


h1 {
 position:relative;
    font-size:10em;  
line-height:50px; 
      text-shadow: 15px 10px#5eabc4;  
margin-top:100px;    
margin-left: 130px;
rotate:5deg;     
         
    
}

#boldbass{
    position:relative;
    font-size:10em;  
line-height:50px; 
      text-shadow: 15px 10px#5eabc4;  
margin-top:100px;    
margin-left: 130px;
rotate:5deg;     
    
}

#container {
font-family:'bold'; 
background: #a5c8d4;
}


 #bassbody{
margin-left:10px; 
position: sticky; 
    
}
