/*logan act*/
:root{
    --orange: #f58549;
    --white: #fbfaf8;
    --black: #1d201f;
}


@font-face {
  font-family: 'comic';
  src: url('comic-sans.ttf');
}
/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

#centr{
text-align: center;

}


p{
    margin-top : 100px;
    margin-bottom : 100px;
padding: 25px;    
line-height: 50px;    
font-size:100%;
font-family:'comic' ;
    
border:1px solid;
box-shadow:5px 10px  var(--black); ;  
    
}


/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */



header{ 
    padding-top: 15px;   
    padding:10px;
    font-size: 17px; 
    font-family: 'comic';    
}

header img{ width: 120px ; 
    float: right; 
    position: absolute;
    top: 0px;
    right: 0px;    
}

nav{
    margin-top:10px;     
background-color: var(--orange);
    padding:5px;
    font-size: 16px; 
    font-family: 'comic';       }

ul {    
    display: flex;       
    background-color: var(--orange);}
 
li{
    display: inline-block;  }

li a{
    padding: 6px;
    color:  var(--black); 
    text-decoration: none;    }

li a:hover{    
background-color: var(--black); 
color:  var(--orange);    }



body {	
padding: 30px;	
}




#batleo{ 
    align-items: center;         padding-top: 25px;  
    max-width: 80%;    
    margin: auto;    
    }

#frogleo{
max-width:400px ;
text-align : center; 

}


#leobio{
    padding-top:25px; ;
    max-width:450px ;
    }

#aprilbio{
    max-width:400px ;
    } 

    #aprilbiotext{


    }

 #mebio{            
    max-width:300px ;            }

#evidenceonapril{
    max-width: 300px ;
    }


#mikey{ 
padding-top: 25px;  
max-width: 400px;    
margin: auto;    
    
}


#blacklaser{   
 width: 60%;   

 max-width:500px ;
}


#silverlaser{ 
    width: 60%;   

    max-width:500px ;
   }
   

iframe{
justify-content: space-evenly; }





* {box-sizing:border-box}

/* Base styles */
.flex-container {
    display: block;
}
	
@media screen and (min-width: 480px) {
    /* Desktop-specific styles */
  }


/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */
/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	


    #centr{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;  
        text-align: center ;
    }
    

    header{ 
        padding-top: 15px;   
        padding:10px;
        font-size: 30px; 
        font-family: 'comic';    
    }
    
    header img{ width: 150px ; 
        float: right; 
        position: absolute;
        top: 0px;
        right: 0px;  }


    nav{
        background-color: var(--orange);
        padding:5px;
        font-size: 21px; 
        font-family: 'comic'; }
        
        ul {    
        display: flex;       
        background-color: var(--orange);
        justify-content: space-evenly;
        align-items: center; }
         
    p{
        width: 600px;
    }

    #batleo{ 
        margin: 50px;
        padding-top: 25px;  
        max-width: 500px;    
        margin: auto;    
        }
    
     #leobio{
        padding-top:25px; ;
            max-width:650px ;
            }

            #aprilbio{
                max-width:250px ;} 
            
	
		
.flex-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; /* Space between image and text */
    }
                      
    .flex-image {
                        max-width: 100%;
                        height: auto;
                        border-radius: 8px;
                      }
                      
                      .flex-text {
                        max-width: 600px;
                        font-family: 'comic';
                        line-height: 1.6;
                      }
                      .flex-container1 {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 20px; /* Space between image and text */
                        }
                                
                      .flex-image1 {
                        max-width: 100%;
                        height: auto;
                        border-radius: 8px;
                      }
                      
                      .flex-text1xw {
                        max-width: 600px;
                        font-family: 'comic';
                        line-height: 1.6;
                      }
	

                      #mikey{ 
                        padding-top: 25px;  
                        max-width: 500px;    
                        margin: auto;    
                            
                        }                
                        #mebio{            
                            max-width:400px ;   


            @media screen and (min-width: 796px) {
                /* Desktop-specific styles */
              }



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {

header{ 
        padding-top: 15px;   
        padding:10px;
        font-size: 35px; 
        font-family: 'comic';    
    }    

header img{ width: 190px ; 
    float: right; 
    position: absolute;
    top: 0px;
    right: 0px;  }

    nav{
        margin-top:15px;     
        background-color: var(--orange);
        padding:5px;
        font-size: 30px; 
        font-family: 'comic'; }	


        #batleo{ 
            padding-top: 25px;  
            max-width: 600px;    
            margin: auto;    
            }
        
            #leobio{
                padding-top:25px; ;
                    max-width:900px ;
                    }
        
                    #mikey{ 
                        padding-top: 25px;  
                        max-width: 600px;    
                        margin: auto;    
                            
                        }



                       
} /* closes 1024px+ */



