/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 2.5em;
}

@font-face {
    font-family: 'Minecraftfont'; /*a name to be used later*/
    src: url('minecraft.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'MechaWar'; /*a name to be used later*/
    src: url('MechaWar.ttf'); /*URL to font*/
}


header{
  font-family: 'Minecraftfont';     
    
    
}

body {
     font-family: 'MechaWar';   
background:#36151E;
color: #36151E;    
font-family:  
}

#container {
    
    margin:auto ;
    margin-top: 20px;
    margin-bottom: 20px;

background: #B3B3F1; 
max-width: 800px;
width:90%;    
padding:20px;
    
  
}

nav ul{
list-style:none;
padding-left:0px;     
    
}

nav a{
    color: #FFD9DA;    
    margin: 5px;
    text-decoration: none;
    font-size:1em; 
    background:black;
    padding: 5px;
}

nav li{
    display: inline;
}


nav a:hover{
color: #FE5F55;
    background:lightpink ; 
}

p a{
    
}

h1,h2{ 
    font-family: 'Minecraftfont';    
}

figure{
margin:0xp;    
background:#593F62;
padding:10px:
}
    

img{ 
    display: block;
    width:50%;
    margin:auto ;
    padding-top:30px;
    

}


figcaption{
    /*font-size:10px;*/
padding:30px; 
font size:40px;
color:#FE5F55;    
}



